<div class="container-fluid" style="min-height: 50vh">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="nuwm_text">Борг студента &#8220;{{pib_s}}&#8220;</h2>
        </div>
    </div>
        <div class="col-3 text-center mx-auto">
        <div class="form-group">
            <label for="profit_amount" class="nuwm_text_form">Нарахування</label>
            <input type="text" class="form-control" name="profit_amount" 
            value = "{{profit_amount}}" readonly>
        </div>
        <div class="form-group">
            <label for="payment_amount" class="nuwm_text_form">Оплата</label>
            <input type="text" class="form-control" name="payment_amount"
            value = "{{payment_amount}}" readonly>
        </div>
        <div class="form-group">
            <label for="debt" class="nuwm_text_form">Борг</label>
            <input type="text" class="form-control" name="debt"
            value = "{{debt}}" readonly>
        </div>
    </div>


</div>