<header class="d-none d-sm-block">
    <div class="jumbotron text-white text-center">
        <h1 class="nuwm_title_1">{{zagolovok}}</h1> <br>
        <p class="nuwm_title_2">Web-додаток студентських гуртожитків НУВГП</p>
        <hr class="my-4">
    </div>
</header>