<body>
    <div id="order">
        <div id="pib">
            <h3 style="font-weight: bold;">{{students.pib}}</h3>
        </div>
        <div id="specialty">
            <h3 style="font-weight: bold;">{{students.name}}</h3>
        </div>
        <div id="Id_hostel">
            <h3 style="font-weight: bold;">{{students.Id_hostel}}</h3>
        </div>
        <div id="Id_room">
            <h3 style="font-weight: bold;">{{students.Id_room}}</h3>
        </div>
    </div>
</body>

<style>
    #order {
        width: 14cm;
        height: 19cm;
        background-image: url("/order.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        border: 4px double white;
    }
    #pib {
        width: 120mm;
        height: 9mm;
        margin-left: 28mm;
        margin-top: 45mm;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
    }
    #specialty {
        width: 140mm;
        height: 2mm;
        margin-left: 21mm;
        margin-top: 8mm;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
    }
    #Id_hostel {
        width: 71mm;
        height: 10mm;
        margin-left: 82mm;
        margin-top: 13mm;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
    }
    #Id_room {
        width: 70mm;
        height: 5mm;
        margin-left: 73mm;
        margin-top: 2mm;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
    }
</style>

