<div class="container" style="min-height: 50vh">
    <div class="row">
        <div class ="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center mx-auto">
            <h2 class="text-primary">Оплата <br> (новий запис)</h2>
          <form method="post">
              <div class="form-group">
                  <label for="pib">ПІБ студента</label>
                    <input type="text" class="form-control" name="pib" value="{{student.pib}}" readonly>
                  </div>
              <div class="form-group">
                  <label for="date_payment">Дата оплати</label>
                  <input type="date" class="form-control" name="date_payment" placeholder="Введіть дату оплати">
              </div>
              <div class="form-group">
                  <label for="amount">Сума</label>
                  <input type="text" class="form-control" name="amount" placeholder="Введіть суму оплати">
              </div>
              <div class="form-group">
                  <label for="appointment">Призначення</label>
                  <input type="text" class="form-control" name="appointment" placeholder="Введіть призначення оплати">
              </div>
              <input type="hidden" name="Id_student" value="{{student.Id_student}}"/>
             <button type="submit" class="btn btn-primary mx-2 my-2">Зберегти</button>
             <button type="reset" class="btn btn-primary">Очистити</button>
          </form>
        </div>
    </div>
</div>

