<div class="container" style="min-height: 50vh">
    <div class="row">
        <div class ="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center mx-auto">
            <h2 class="nuwm_text">Студент {{number_room}} кімнати<br> (новий запис)</h2>
          <form method="post">
                <div class="form-group">
                  <label for="Id_specialty" class="nuwm_text_form">Спеціальність</label>
                    <input list="id" class="form-control" name="Id_specialty"
                    placeholder="Вкажіть спеціальність" autocomplete="off">
                  <datalist id="id">
                      {{#each specialties}}
                      <option value="{{this.Id_specialty}}">
                      {{this.name}}
                      </option>
                      {{/each}}
                  </datalist>
                </div>
              <div class="form-group">
                  <label for="pib" class="nuwm_text_form">ПІБ</label>
                  <input type="text" class="form-control" name="pib" placeholder="Введіть ПІБ студента">
              </div>
              <div class="form-group">
                  <label for="phone" class="nuwm_text_form">Телефон</label>
                  <input type="text" class="form-control" name="phone" placeholder="Введіть телефон">
              </div>
              <div class="form-group">
                  <label for="e_mail" class="nuwm_text_form">E-mail</label>
                  <input type="text" class="form-control" name="e_mail" placeholder="Введіть E-mail">
              </div>
              <div class="form-group">
                  <label for="adress" class="nuwm_text_form">Адреса</label>
                  <input type="text" class="form-control" name="adress" placeholder="Введіть адресу">
              </div>
              <div class="form-group">
                  <label for="foreigner" class="nuwm_text_form">Іноземець?</label>
                  <input type="checkbox" class="form-control" name="foreigner">
              </div>
              <div class="form-group">
                  <label for="year_entry" class="nuwm_text_form">Рік вступу</label>
                  <input type="text" class="form-control" name="year_entry" placeholder="Введіть рік вступу">
              </div>
              <div class="form-group">
                  <label for="date_leave" class="nuwm_text_form">Дата вибуття</label>
                  <input type="date" class="form-control" name="date_leave" placeholder="Введіть дату вибуття">
              </div>
             <input type="hidden" name="number_room" value="{{number_room}}"/>
             <button type="submit" class="nuwm_button">Зберегти</button>
             <button type="reset" class="nuwm_button">Очистити</button>
          </form>
        </div>
    </div>
</div>
